<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body data-admin="<%= session[:admin] ? 'true' : 'false' %>">

    <%# Input de busca %>
    <input type="text" id="inputBusca" placeholder="Pesquisar aluno por nome...">
    <%# Botão para abrir o modal de login %>    
    <button id="buttonLogin" onclick="abrirModal('login')">Login</button>
    <%# Botão adicionar aluno %>
    <button id="buttonAdd" onclick="abrirModal('add')">Adicionar Aluno</button>

    <div class="search-container">

        <div class="table-container">
            <table id="tabelaAlunos">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Turma</th>
                        <th colspan="4">Ações</th>
                    </tr>
                </thead>
                <tbody id="corpoTabela">
                </tbody>
            </table>
        </div>
    </div>

    <dialog id="Modal">
        <div class="modal-content"> 
            <span id="closeModal" style="cursor:pointer; float:right;">&times;</span>        
            
        </div>
    </dialog>

    <script src="/script.js"></script>
</body>
</html>