<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body data-admin="<%= session[:admin] ? 'false' : 'true' %>">
    <%# div para organização do cabeçalho %>
    <div class="cabecalho-principal">
        <%# div do titulo %>
        <div class="titulo-container">
            <h1>Cadastro de Aluno</h1>
            <span class="subtitulo">Sistema Acadêmico</span>
        </div>
        <%# div da pesquisa %>
        <div class="controls-container">
            <%# Input de busca %>
            <input type="text" id="inputBusca" placeholder="Pesquisar aluno por nome...">
            <%# Botão para abrir o modal de login %>    
            <button id="buttonLogin" onclick="abrirModal('login')">Login</button>
            <%# Botão adicionar aluno %>
            <button id="buttonAdd" onclick="abrirModal('add')">Adicionar Aluno</button>
        </div>
        <%# logo %>
        <img src="/imgs/logoo.png" alt ="Logo" class="logo">
    </div>

    <div class="search-container">

        <div class="table-container">
            <table id="tabelaAlunos">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Turma</th>
                        <th colspan="4">Ações</th>
                    </tr>
                </thead>
                <tbody id="corpoTabela">
                </tbody>
            </table>
        </div>
    </div>

    <dialog id="Modal">
        <div class="modal-content"> 
            <span id="closeModal" style="cursor:pointer; float:right;">&times;</span>        
            
        </div>
    </dialog>

    <script src="/script.js"></script>
</body>
</html>