/* Estilo do Pop-up (Dialog) */
dialog {
    border: none;
    border-radius: 12px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Fundo escurecido mais suave */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

/* Organizando o formulário em coluna */
dialog form {
    display: flex;
    flex-direction: column; /* Coloca um embaixo do outro */
    gap: 15px;              /* Espaço entre os campos */
    margin-top: 20px;
}


/* O "X" de fechar no canto */
#closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #999;
    cursor:pointer; float:right;
}

#tabelaAlunos, td, th {
    width: 90%;
    border-collapse: collapse;
    border-bottom: black solid 1px;
    margin-top: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

#inputBusca {
    padding: 10px;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 13px;
}

img {
    width: 24px;
    height: 24px;
    cursor:pointer;
}
